body {
    background-color: #010B13;
}

h1 {
    color: #422040;
    text-align: center;
}

h2 {
    color: #11363B;

}

#intro {
    color: #E71D36;
}

#link {
    color: #658E9C;
}

img {
    width: 200px;
    height: 200px;
    float: right;
}

#resume {
    color: aquamarine;
}

strong {
    color: #204B57;
}

footer {
    color: white;
    text-align: center;
}